@using E_commerce_website.Models;
@model E_commerce_website.Models.Product

@{
    ViewData["Title"] = "Details";
    Layout = "_Layout";
    var Options = ViewBag.ProductOptions;
}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="css/style.css">

<link rel="stylesheet" href="~/css/styles.css">
<link rel="stylesheet" href="~/css/DetailsStyle.css">

<body>
 
    <form asp-action="AddItemsOptionsIntoCart" asp-controller="Cart" asp-area="ClientArea"  method="post">


         <input type="hidden" id="Productid" name="Productid" value="@Model.ProductID">
         <input type="hidden" id="Productid" name="ProductPrice" value="@Model.ProductPrice">
 
    <section class="section about-section gray-bg" id="about">
 
        <div class="row align-items-center justify-content-around flex-row-reverse">
            <div class="col-lg-6">
                <div class="about-text">
                    <h3 class="dark-color">@Model.ProductName</h3>
                    <h4 class="theme-color">Category : @Model.ProductCategory.CategoryName</h4>



                    <p>@Model.ProductShortDes</p>
                    <p><b>Price :</b> @Model.ProductPrice EGP</p>
                    <p><b>Items in Stock : </b>@Model.ProductStock</p>
                    <p><b>Seller Name : </b><a  href="#" class="card-link" >@Model.Vendor.VendorName</a></p>
                   

                      @foreach(var group in Options)
                {

                <div class="btn-group">
                  <select name="options" id="options" class="px-btn theme btn-sm dropdown-toggle" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false" >
                     <h5> <b> @(group.Key) </b> </h5>
                          <div class="dropdown-menu">
                              <option value= "0">@(group.Key)</option>
                                    @foreach (var element in group)
                                    {
                                        <option value= "@(element.OptionID)">@(element.Option.OptionName)</option>  
                                    }
                          </div>
                    </select>
                 </div>
                }

                    
                    <div class="btn-bar">
                        <button  class="px-btn theme btn-danger" type="submit">Add to cart</button>
                        <a class="px-btn theme-t" href="~/Home/index">Back to Home</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 text-center " >
                <div class="about-img" style="border-radius:29px;">
                    <img src="~/dbImages/@Model.ProductImage" >
                </div>
            </div>
        </div>
    </section>

   
   </form>
   
</body>
