@using E_commerce_website.Models;
@model E_commerce_website.Models.Product
@{
    ViewData["Title"] = "Details";
    var Options = ViewBag.ProductOptions;
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />

    <form asp-action="AddItemsOptionsIntoCart" asp-controller="Cart" asp-area="ClientArea" method="Post">

         <input type="hidden" id="Productid" name="Productid" value="@Model.ProductID">
         <input type="hidden" id="ProductPrice" name="ProductPrice" value="@Model.ProductPrice">


         <div class="single-product">
            <div class="row" id="">
                <div class="col-md-6 single-top-left">  
                    <div class="flexslider">
                       <img src="~/dbImages/@Model.ProductImage"/>

                    </div>
                </div>
                <div class="col-md-6 single-top-right">
                    <h3 class="item_name">@Html.DisplayFor(model => model.ProductName)</h3>
                    <p>Category : @Html.DisplayFor(model => model.ProductCategory.CategoryName)</p>
                 
                    @foreach(var group in Options)
                    {
                        <p> @(group.Key) </p>
                        <select name="options" id="options">



                        @foreach (var element in group)
                        {
                            <option value= "@(element.OptionID)">@(element.Option.OptionName)</option>  
                        }


                        </select>
                        <br/>
                    }

                    
               
              
                    <div class="single-price">
                        <ul>
                            <li class="product-price">@Html.DisplayFor(model => model.ProductPrice)EGP</li>  
                            <li>@Html.DisplayFor(model => model.ProductShortDes)</li><br/>
                            <li>Items in Stock : @Html.DisplayFor(model => model.ProductStock)</li> <br />
                            <li><span class="off">Seller Name : @Html.DisplayFor(model => model.Vendor.VendorName)</span></li> 
                        </ul>   

                        <button type="submit" class="btn btn-primary btn-lg">Add to cart</button>

                    </div> 

                   <p class="single-price-text"> Text Here if You want </p>
                    
                </div>
                <div class="single-product-everything">
                            <a asp-area="" asp-controller="Home" asp-action="index" >Back to Home</a>
                <h4>Product Description</h4>
                <div class="alert alert-secondary" role="alert" style="width:100%">
                    @Html.DisplayFor(model => model.ProductLongDes)
                    </div>

               </form>
