@model E_commerce_website.Models.Product

@{
    ViewData["Title"] = "Details";
}
<!DOCTYPE html>
<html>
<head>
<style>
.card {

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: auto;
  text-align: center;
  font-family: arial;
  margin-top:50px;
  margin-bottom:70px;
  
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
   margin-bottom: 30px;
   padding-bottom:30px;
}

.card button:hover {
  opacity: 0.7;
}
</style>
</head>
  <div class="card">
      <img src="~/dbImages/@Model.ProductImage" style="width:100%">
           
       <h1>@Html.DisplayFor(model => model.ProductName)</h1>
        
       <p class="price">Price :  @Html.DisplayFor(model => model.ProductPrice)</p>
           
          <p>@Html.DisplayFor(model => model.ProductLongDes)</p>
            
            <p>Wieght : @Html.DisplayFor(model => model.ProductWeight)</p>
                  <p>Number in stock : @Html.DisplayFor(model => model.ProductStock)</p>
                        <p>Category :   @Html.DisplayFor(model => model.ProductCategory.CategoryName)</p>
<div>
           <a asp-action="Edit" asp-route-id="@Model.ProductID"class="btn btn-secondary" style="background-color: #007bff;border-color:#007bff">Edit</a>
          
   
    <a asp-action="Index" class="btn btn-secondary" style="background-color: #007bff;border-color:#007bff">Back to List</a>
    <br /><br />
</div>
