@model IEnumerable<E_commerce_website.Models.Order>
<link rel="stylesheet" href="css/style.css">

<link rel="stylesheet" href="~/css/styles.css">
 <div class="container">
     <div class="mb-3">

            <h2> All Orders </h2>
            <br/>
     </div>
<table class="table">
    <thead>
        <tr class="table-Secondary">
            <th>
                @Html.DisplayNameFor(model => model.OrderAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShippingAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.OrderStatus)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.OrderTrakingNumber)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.OrderCountry)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.OrderCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.UserEmail)
            </th>
            <th>
                 
            </th>
            <th>
                  
            </th>
             <th>
                  
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippingAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
           @* <td>
                @Html.DisplayFor(modelItem => item.OrderStatus)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.OrderTrakingNumber)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.OrderCountry)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.OrderCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserAddress)
            </td>
            <td>
               
                 <a  asp-action="Edit" asp-route-id="@item.OrderID"><i class="fa  fa-edit circle-icon"></i></a> 
                 </td>
            <td>

                <a  asp-action="Details" asp-route-id="@item.OrderID"><i class="fa  fa-pencil circle-icon"></i></a> 
            </td>
            <td>

                <a  asp-action="Delete" asp-route-id="@item.OrderID"><i class="fa fa-trash circle-icon"></i></a>
            </td>

            
        </tr>
}
    </tbody>
</table>
</div>