@model IEnumerable<E_commerce_website.Models.Product>
@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="css/style.css">

<link rel="stylesheet" href="~/css/styles.css">



 
  <body>
      <div class="row">
          @foreach (var item in Model) {
        <div class="col-3">
          <div class="wsk-cp-product" style="margin-top:20px;">
            <div class="wsk-cp-img">
                 
                <a  asp-action="Details" asp-route-id="@item.ProductID" ><img src="~/dbImages/@item.ProductImage" alt="Product" class="img-responsive" /></a> 
            </div>
            <br><br>
            <div class="wsk-cp-text">
               <div class="row  justify-content-between" style="color:white" >
                   <div class="col-3"  >
                        <a  asp-action="Details" asp-route-id="@item.ProductID" > <i class="fa fa-lg fa-pencil circle-icon"></i> </a> 
                   </div>
                   <div class="col-3"  >
                        <a  asp-action="Edit"  asp-route-id="@item.ProductID"> <i class="fa fa-lg fa-edit circle-icon"></i> </a> 
                   </div>
                     <div class="col-3" >
                        <a  asp-action="Delete" asp-route-id="@item.ProductID" ><i class="fa fa-trash  fa-lg circle-icon"></i></a>
                   </div>
             </div>


              <div class="title-product" >
                <h4 style="color:#f89cab">@Html.DisplayFor(modelItem => item.ProductName)</h4>
              </div>
             
              <div class="card-footer" style="background-color: white;">
                <div class="wcf-left"><span class="price" style="padding-left: 50px;">Price : @Html.DisplayFor(modelItem => item.ProductPrice)</span></div>
              </div>
            </div>
          </div>
        </div>
        }
      </div>
      </body>

 
