@model IEnumerable<E_commerce_website.Models.CartItem>
@using Microsoft.Extensions.Options
@using  E_commerce_website.Controllers

@inject IOptions<StripeSettings> Stripe
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System;
@{

    var Quantity = ViewBag.Quantity;
    Decimal TotalPrice = 0M;
    var TotalPricsCart = ViewBag.TotalPrice;
    List<CartItemsOption> CartItemsWizOptions = ViewBag.CartItemsWizOptions;
    string OrderDetails = "";
}

<link rel="stylesheet" href="~/css/CartStyle.css"> 


<body>

    <div class="card" style="margin-top:5%">
        <div class="row">
            <div class="col-md-8 cart">
                <div class="title">
                    <div class="row">
                        <div class="col">
                            <h4><b>Shopping Cart</b></h4>
                        </div>
                        <div class="col align-self-center text-right text-muted">@Quantity items</div>
                    </div>
                </div>
                @foreach (var item in Model)
                {
                    TotalPrice = item.Product.ProductPrice * item.Quantity;
                    OrderDetails += $"PName:{item.Product.ProductName},PQuantity:{item.Quantity},PCategory:{item.Product.ProductCategory.CategoryName}\n";
                    <div class="row border-top border-bottom">
                    <div class="row main align-items-center">
                        <div class="col-2"><img class="img-fluid" src="~/dbImages/@item.Product.ProductImage"></div>
                        <div class="col">
                            <div class="row text-muted">@item.Product.ProductCategory.CategoryName</div>
                            <div class="row">@item.Product.ProductName</div>
                        </div>
                        <div class="col"> 
                              <a asp-action="Decreament" asp-route-id=@item.ProductID>
                                   <i class="fa fa-minus-circle"></i>
                               </a>
                         
                                <a href="#" class="border" style="border-radius:2px">@item.Quantity</a>
                                  <a asp-action="Increament" asp-route-id=@item.ProductID>
                                   <i class="fa fa-plus-circle"></i>
                               </a>
                         </div>
                        <div class="col"> @TotalPrice EGP<span class="close">&#10005;</span></div>
                    </div>
                   <div class="row main align-items-center">
                    @foreach (var option in CartItemsWizOptions.Where(c=>c.ProductID == item.ProductID).ToList())
                        {
                            
                                <div class="col-3 text-muted">@option.Option.OptionGroup.OptionGroupName</div>
                                <div class="col-3">@option.Option.OptionName</div>
                        }
                    </div>
                 
                  </div>    
                 }
         
                <div class="back-to-shop"><a href="#">&leftarrow;</a><span class="text-muted">Back to shop</span></div>

            </div>


            <div class="col-md-4 summary">
                <div class="py-2">
                    <h4><b>Summary</b></h4>
                </div>
                <hr>
                <div class="row">
                    <div class="col" style="padding: left 3px;">ITEMS @Quantity</div>
                    <div class="col text-right">@TotalPricsCart EGP</div>
                </div>
                
                <div>
                    <p>SHIPPING</p> <select>
                        <option class="text-muted">Standard-Delivery- 20 EGP</option>
                    </select>

                </div>

                <div>

                <p>PAYMENT METHODE</p> 
                <select class="payment">
                    <option class="text-muted" value="cash">CASH</option>
                    <option class="text-muted" value="paypal">PayPal</option>
                </select>
                </div>
                    
              
                <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                    <div class="col">TOTAL PRICE</div>
                    <div class="col text-right">@TotalPricsCart EGP</div>
                </div> 
                <div class="cash box" style="border-top: 1px">
                    <a class="btn" asp-action= "Checkout" asp-controller = "Orders" asp-area="ClientArea"> CONTINUE TO CHECKOUT</a>

                </div>
                <div class="paypal box" style="display: none"> 

                        <form asp-action="Charge" asp-controller="stripe" asp-area="" method="POST">
                                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                    data-key="pk_test_51KgCv9H0TxpTzxXWbKRMlmTyA9TVk6Q9OoBGCsmku4P8Y3qZvCUjv0tZXCOiTIBjHazxaoHJziytUajstoMrymfm009bV4ke7O"
                                    data-content = @OrderDetails
                                    data-amount = @TotalPricsCart
                                    data-name="Payment Details" 
                                    data-label="Confirm"
                                    data-locale="auto">
                                </script>
                                <script>
                                    document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
                                </script>
                                <button type="submit" class="btn"> CONTINUE TO CHECKOUT 2</button>
                            </form>

                </div>
            </div>

        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
$(document).ready(function(){
    $(".payment").change(function(){
        $(this).find("option:selected").each(function(){
            var optionValue = $(this).attr("value");
            if(optionValue){
                $(".box").not("." + optionValue).hide();
                $("." + optionValue).show();
            } else{
                $(".box").hide();
            }
        });
    }).change();
});
</script>
